<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
</head>
<body>
<main class="main">
    <div>
        <div>
            <div>
                <a href="/login">Log in</a>
                <a href="/registration">Sign up</a>
            </div>
            <h2>Register</h2>
            <form th:action="@{/registration}" method="post">
                <input type="text" name="name" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <div th:if="${message}" class="login__message">
                    <span th:text="${message}" class="login-message"/>
                    <a href="/login">log in</a>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</main>
</body>
</html>
